.App {
  font-family: sans-serif;
  text-align: center;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

input {
  margin: 10px;
  border: none;
  background-color: aqua;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 20px 0;
}
